@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@500&display=swap');
#content {
    width: 1600px;
    margin: 0 auto;
  }

nav a {
  text-align: center;
  background-color:darkseagreen;
  color: whitesmoke;
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
  padding: 5px;
  /* my logo isn't showing correctly with 35px. that is why i have it on 5px */
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: beige;
}

body {
  background-color: #fcfbfb; 
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
header {
  background-color: darkseagreen;
}
nav a:hover {
  background-color: black;
  text-decoration: underline;
}

.book, .join{
  background-color: burlywood;
  font-size: 18px;
  padding: 15px 30px;
}

.book:hover, .join:hover {
  background-color: aliceblue;
  text-decoration: underline;
}

.msg{
  background-color: darkseagreen;
  line-height: 1.5em;
  padding: 35px;
}

footer{
  background-color: darkseagreen;
  padding: 25px 50px;
  margin-top: 200px;

}

nav a:hover {
  background-color:darkseagreen;
  color: whitesmoke;
  text-decoration: underline;
}

.home-title{
  background-color:darkseagreen;
  color: whitesmoke;
  font-family: "Poppins";
  font-size: 2em;
  margin-top: 10px;
}
h4{
  background-color:darkseagreen;
  color: whitesmoke;
}
.book, .join{
  background-color:darkseagreen;
  color: whitesmoke;
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover, .join:hover{
  background-color:darkseagreen;
  color: whitesmoke;
  text-decoration: underline;
}
.msg h2{
  background-color:darkseagreen;
  color: whitesmoke;
  font-family: "Poppins";
  margin: 0;
}
.msg p{
  background-color:darkseagreen;
  color: whitesmoke;
  font-size: .8em;
  padding-bottom: 15px;
}
footer h3{
  background-color:darkseagreen;
  color: whitesmoke;
}
footer a{
  background-color:darkseagreen;
  color: whitesmoke;
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
}
footer a:hover{
  background-color:darkseagreen;
  color: whitesmoke;
  text-decoration: underline;
}

.logo {
  width: 80px;
  height: 80px;
}

footer p {
  font-size: 1.2em;
}    

footer p a:hover {
  text-decoration: underline;
}   

h2{
  margin: 0;
}

#logo_link{
  padding-top: 5px;
}

.icon{
  padding-top: 10px;
}

footer .social img {
  padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
  margin: 200px 0;
}

.card-img{
  border: 10px solid black;
}

main section img{
  box-sizing: border-box;
}

.boat{
  border: 10px solid black;
}
